In [2]:
import pandas as pd

In [4]:
import pandas_profiling

In [3]:
cars = pd.read_csv("car_dekho_details.csv")

In [8]:
cars

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [15]:
# split the name column by " "
cars_df = cars.name.str.split(" ", expand = True)

In [24]:
# take the first two parts of the name (the rest will not be required)
cars_df_reduced = cars_df.iloc[:, [0, 1]].copy()

In [31]:
#concatenate these two columns into one (make_model)
cars_df_reduced["make_model"] = cars_df_reduced[0] + " " + cars_df_reduced[1]

In [47]:
# merge the columns make_model with the other columns for cars
cars = pd.concat([cars_df_reduced, cars], axis=1, ignore_index=True)

In [61]:
#columns names have been lost, rename them with the original names
cars.rename(columns={0:"make_model"}, inplace = True)
cars.rename(columns={1:"TBD"}, inplace = True)
cars.rename(columns={2:"year"}, inplace = True)
cars.rename(columns={3:"selling_price"}, inplace = True)
cars.rename(columns={4:"km_driven"}, inplace = True)
cars.rename(columns={5:"fuel"}, inplace = True)
cars.rename(columns={6:"seller_type"}, inplace = True)
cars.rename(columns={7:"transmission"}, inplace = True)
cars.rename(columns={8:"owner"}, inplace = True)

In [66]:
cars = cars.drop(columns = ["TBD"])

In [67]:
cars

,make_model,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID,2016,225000,40000,Petrol,Individual,Manual,First Owner